html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
  background: url("img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "OpenSans";
}

@font-face {
  font-family: "OpenSans";
  src: url("./Open_Sans/OpenSans-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  display: inline-flex;
  position: relative;
  background-color: rgba(254, 244, 243, 0.1);
  /* color: rgb(240, 229, 229); */
  color: white;
  z-index: 2;
}

.title {
  width: 40%;
  height: 100%;
  margin-top: 1%;
  margin-left: 10%;
  cursor: default;
}

.navigation {
  width: 60%;
  height: 70px;
  /*border: 1px solid black;*/
}

.createdBy {
  margin-top: 0.4%;
  text-align: center;
}

.nameContainer {
  text-align: center;
  /*border: 1px solid red;*/
  height: auto;
  width: 100%;
  display: inline-flex;
  padding: 0 !important;
  margin-top: -2%;
  }

.menu {
  margin-right: auto;
  margin-left: auto;
  /*margin-top: 2%;*/
  float: left;
  width: 30%;
  /*border: 1px solid black;*/
  list-style-type: none;
}

.navigation-li {
  float: left;
  padding: 0px 40px 0px 0px;
}

.nav-a {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 16px;
  outline: 0;
}

.nav-a:hover {
  text-decoration: none;
  color: white;
}

.insta:hover {
  color: #b7358a;
}

.linkedin:hover {
  color: #0077b5;
}

.git:hover {
  color: #000;
}

.brTag {
  display: none;
}

/*Sliding Styles Starts*/

.sliding {
  margin-top: 2%;
  padding-top: 8px;
  padding-bottom: 0px;
  height: 60px;
  display: flex;
  /*max-width: 1000px;*/
  background-color: rgba(254, 244, 243, 0.1);
  z-index: 10;
  /*overflow-x: visible;*/
  position: relative;
  /*padding-left: 5px;*/
}

.buttonWrapper {
  /*border: 1px solid black;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.sliderButtons {
  display: inline-flex !important;
  font-size: 15px;
  width: auto;
  margin-bottom: 0;
  margin-left: 25px;
  transition: all 2s ease-in-out;

}

.spanCount {
  margin-left: 5px;
  margin-top: 3px;
}

.leftBtn{
  position: absolute;
  top: 0px;
  height: inherit;
  margin-right: 5px;
}

.rightBtn{
  position: absolute;
  top: 0px;
  right: 0;
  height: inherit; 
}

.sBtn {
  border-radius: 7px;
  border: none;
  height: inherit;
  background-color:  rgba(254, 244, 243, 0.5);
  text-align: center;
  width: auto;
}

.sIcon {
  font-size: 25px;
}

/*Sliding Styles Starts*/

.row {
  width: 80%;
  margin: 2% 10% 0 10%;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.boxes {
  text-align: center;
  height: 120px;
}

.totalDiv {
  background-color: rgba(254, 244, 243, 0.8);
  height: 140px;
}

.boxes span {
  margin-top: 7%;
}

#totalCase {
  margin-top: 1.5%;
  margin-top: 0;
}

.updated {
  font-size: 0.8rem;
  font-style: italic;
}

.otherChilds div {
  width: 100%;
  background-color: rgba(254, 244, 243, 0.8);
  height: 120px;
}

.otherChilds {
  margin: 25px 0px 0px 0px;
}
.state {
  width: 240px;
  text-align: center;
}
.GujDist {
  width: 350px;
  text-align: center;
}
.stateCases {
  width: 100px;
  text-align: center;
}

#stateTableBody th {
  width: 340px;
}
/* #stateTableBody td {
} */

.stateCasesTd {
  width: 50px;
}
.tableInfo {
  margin-top: 3%;
  padding-top: 1%;
  width: 80%;
  margin-left: 10%;
  height: 60px;
  /* position: relative; */
  background-color: rgba(254, 244, 243, 0.1);
  color: rgb(240, 229, 229);
  text-align: center;
  z-index: 2;
}
.tableInfo h4 {
  text-align: center;
}
.tableDiv {
  width: 80%;
  margin: 1% 10% 0 10%;
  background-color: rgba(254, 244, 243, 0.8);
  height: 390px;
  overflow-y: scroll;
}

.country {
  width: 200px;
}

.recover {
  color: green;
}
.deaths {
  color: red;
}

.flagImg {
  margin-top: 8%;
  height: 50%;
  width: 50%;
}
#header-fixed {
  position: fixed;
  top: 0px;
  display: none;
  background-color: white;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.table-data {
  text-align: center;
}
/*Parshv Styles*/
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  /*font-weight: 500;*/
  /*font-size: 12px;*/
  /*color: #fff;*/
  text-transform: uppercase;
}
td {
  padding: 15px;
  margin-right: 5px;
  text-align: left;
  vertical-align: middle;
  /*font-weight: 300;*/
  /*font-size: 12px;*/
  /*color: #fff;*/
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/*Parshv Styles Ends*/

.end {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 80%;
  height: auto;
  background-color: rgba(254, 244, 243, 0.2);
  /* color: rgb(240, 229, 229); */
  color: white;
  z-index: 2;
  text-align: center;
}
.end .support {
  padding-bottom: 1%;
}
.end a {
  padding: 15px;
}

/* mobile  */
@media screen and (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  .header {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    /*border: 1px solid black;*/
  }

  .title {
    width: 90%;
    height: 100%;
    margin-top: 0;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
  }

  .title h4 {
    font-size: 0.8rem;
  }

  /*#gujaratBtn {
    margin-top: 12% !important;
    width: 110% !important;
  }*/

  #indiaBtn {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }

  .navigation {
    width: 100%;
    height: 100%;
    margin-right: 4%;
    margin-top: -23%;
    /*border: 1px solid black;*/
  }

  .createdBy{
    text-align: center;
  }

  .nameContainer {
    display: inline-flex;
    width: 100%;
  }

  .menu {
    /*margin-right: 0;*/
    margin-top: -5%;
    list-style-type: none;
    text-align: center;
    /*border: 1px solid black;*/
    padding: 0px !important;
    /*width: 50%;*/
    margin-left: auto;
    margin-right: auto;
  }
  
  .navigation-li {
    padding: 0px;
  }

  .nav-a {
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 10px;
  }
  .brTag {
    display: block;
  }

  .linkContainer {
    margin-left: 15%;
  }

  .idLink {
    margin-top: -4%;
    margin-right: 16%;
  }
  .insta {
    color: #b7358a;
  }

  .linkedin {
    color: #0077b5;
  }

  .git {
    color: #000;
  }

  /*.sliderButtons {
    width: auto;
  }*/

  .row {
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 1.3rem;
  }
  .boxes span {
    margin-top: 5%;
  }
  .updated {
    font-size: 0.7rem;
    font-style: italic;
  }

  .totalDiv {
    height: 120px;
  }

  #totalCase {
    margin-top: 4%;
  }
  .otherChilds div {
    padding-top: 6%;
  }
  .totalDiv {
    padding-top: 1%;
  }

  .otherChilds {
    width: 80%;
  }
  .otherChilds div {
    width: 130%;
    padding-right: 2%;
  }

  .otherChilds {
    margin: 25px 0px 0px 0px;
    padding-left: 0 !important;
  }

  .otherChilds:nth-child(odd) {
    padding-left: 8% !important;
  }

  .otherChilds:nth-child(even) {
    padding-left: 4% !important;
  }

  .tableModal {
    font-size: 0.6rem;
  }
  .state {
    width: 110px;
  }
  .GujDist {
    width: 200px;
    text-align: center;
  }
  .stateCases {
    width: 90px;
  }

  #stateTableBody th {
    width: 222px;
  }

  #stateTableBody td {
    font-size: 0.7rem;
  }

  .stateCasesTd {
    width: 50px;
  }

  .tableInfo {
    margin-top: 8%;
    padding-top: 3%;
    margin-left: 10%;
    width: 80%;
    height: 45px;
    background-color: rgba(254, 244, 243, 0.1);
    color: rgb(240, 229, 229);
    text-align: center;
    z-index: 2;
  }
  .tableInfo h4 {
    text-align: center;
    font-size: 1rem;
  }

  .tableDiv {
    width: 84%;
    margin: 4% 08% 0 08%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 320px;
    overflow-y: scroll;
    font-size: 0.6rem;
  }
  .table-data {
    text-align: center;
  }

  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 600px;
  }
  .tbl-content {
    height: 300px;
    width: 600px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .flagImg {
    margin-top: 20%;
    height: 50%;
    width: 50%;
  }

  .spacing {
    width: 60px;
  }
  .country {
    width: 100px;
  }
  .recover {
    width: 80px;
  }

  th {
    padding: 20px 15px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    margin-right: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .end {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .header {
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    padding-top: 4%;
    margin-left: 5%;
  }

  .title h4 {
    font-size: 1rem;
  }
  #gujaratBtn {
    margin-top: 10% !important;
  }
  .navigation {
    width: 67%;
    height: 100%;
    margin-right: 4%;
  }
  .menu {
    margin-right: 4%;
    margin-top: 12%;
    list-style-type: none;
  }
  .navigation-li {
    padding: 0px;
  }

  .nav-a {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 10px;
  }
  .brTag {
    display: block;
  }
  .idLink {
    margin-top: 2%;
    margin-left: 20%;
  }
  .insta {
    color: #b7358a;
  }

  .linkedin {
    color: #0077b5;
  }

  .git {
    color: #000;
  }
  .row {
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 1.3rem;
  }

  .boxes span {
    margin-top: 5%;
  }

  .totalDiv span {
    margin-top: 5%;
  }

  .totalDiv,
  .otherChilds div {
    padding-top: 6%;
  }

  .otherChilds {
    width: 80%;
  }
  .otherChilds div {
    width: 120%;
  }

  .otherChilds {
    margin: 25px 0px 0px 0px;
    padding-left: 0 !important;
  }

  .otherChilds:nth-child(odd) {
    padding-left: 8% !important;
  }

  .otherChilds:nth-child(even) {
    margin-right: 4% !important;
  }

  .tableInfo {
    margin-top: 6%;
    padding-top: 3%;
    margin-left: 10%;
    width: 80%;
    height: 45px;
    background-color: rgba(254, 244, 243, 0.1);
    color: rgb(240, 229, 229);
    text-align: center;
    z-index: 2;
  }
  .tableInfo h4 {
    text-align: center;
    font-size: 1rem;
  }

  .tableDiv {
    width: 84%;
    margin: 4% 08% 0 08%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 320px;
    overflow-y: scroll;
    font-size: 0.7rem;
  }
  .table-data {
    text-align: center;
  }

  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 700px;
  }
  .tbl-content {
    height: 300px;
    width: 700px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .flagImg {
    margin-top: 12%;
    height: 30%;
    width: 30%;
  }

  .country {
    width: 120px;
  }
  .recover {
    width: 80px;
  }
  .critical {
    width: 70px;
  }

  th {
    padding: 20px 15px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    margin-right: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .end {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .header {
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    padding-top: 3%;
    margin-left: 5%;
  }

  .title h4 {
    font-size: 1.1rem;
  }
  #gujaratBtn {
    margin-top: 8% !important;
  }
  .navigation {
    width: 67%;
    height: 100%;
    margin-right: 4%;
  }
  .menu {
    margin-right: 5%;
    margin-top: 10%;
    list-style-type: none;
  }
  .navigation-li {
    padding: 0px;
  }

  .nav-a {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 10px;
  }
  .brTag {
    display: block;
  }
  .idLink {
    margin-top: 2%;
    margin-left: 20%;
  }
  .insta {
    color: #b7358a;
  }

  .linkedin {
    color: #0077b5;
  }

  .git {
    color: #000;
  }
  .row {
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 1.3rem;
  }
  .boxes {
    text-align: center;
    height: 130px;
  }

  .boxes span {
    margin-top: 8%;
  }

  .totalDiv span {
    margin-top: 4%;
  }

  .totalDiv,
  .otherChilds div {
    padding-top: 5%;
  }

  .otherChilds {
    width: 80%;
  }
  .otherChilds div {
    width: 130%;
    height: 130px;
    padding-top: 10%;
  }

  .otherChilds {
    margin: 25px 0px 0px 0px;
    padding-left: 0 !important;
  }

  .otherChilds:nth-child(odd) {
    padding-left: 3% !important;
  }

  .otherChilds:nth-child(even) {
    margin-right: 9% !important;
  }

  .tableInfo {
    margin-top: 6%;
    padding-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 45px;
    background-color: rgba(254, 244, 243, 0.1);
    color: rgb(240, 229, 229);
    text-align: center;
    z-index: 2;
  }
  .tableInfo h4 {
    text-align: center;
    font-size: 1.1rem;
  }

  .tableDiv {
    width: 84%;
    margin: 3% 08% 0 08%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 320px;
    overflow-y: scroll;
    font-size: 0.8rem;
  }
  .table-data {
    text-align: center;
  }
  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 720px;
  }
  .tbl-content {
    height: 300px;
    width: 720px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .flagImg {
    margin-top: 12%;
    height: 30%;
    width: 30%;
  }

  .country {
    width: 120px;
  }
  .recover {
    width: 90px;
  }
  .critical {
    width: 80px;
  }

  th {
    padding: 20px 15px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    margin-right: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .end {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 801px) and (max-width: 992px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .header {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    padding-top: 2%;
    margin-left: 5%;
  }

  .title h4 {
    font-size: 1.2rem;
  }
  .navigation {
    width: 67%;
    height: 100%;
    margin-right: 4%;
  }
  .menu {
    margin-right: 6%;
    margin-top: 2.5%;
    list-style-type: none;
  }
  .navigation-li {
    padding: 0px;
  }

  .nav-a {
    font-size: 1rem;
    font-weight: 200;
    line-height: 10px;
  }
  .brTag {
    display: block;
  }
  .idLink {
    margin-top: 2%;
    margin-left: 20%;
  }
  .insta {
    color: #b7358a;
  }

  .linkedin {
    color: #0077b5;
  }

  .git {
    color: #000;
  }
  .row {
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 1.3rem;
  }
  .boxes {
    text-align: center;
    height: 130px;
  }

  .boxes span {
    margin-top: 5%;
  }

  .totalDiv span {
    margin-top: 3%;
  }

  .totalDiv,
  .otherChilds div {
    padding-top: 3%;
  }

  .otherChilds {
    width: 80%;
  }
  .otherChilds div {
    width: 130%;
    height: 130px;
    padding-top: 10%;
  }

  .otherChilds {
    margin: 25px 0px 0px 0px;
    padding-left: 0 !important;
  }

  .otherChilds:nth-child(odd) {
    padding-left: 3% !important;
  }

  .otherChilds:nth-child(even) {
    margin-right: 8% !important;
  }

  .tableInfo {
    margin-top: 6%;
    padding-top: 1%;
    margin-left: 10%;
    width: 80%;
    height: 45px;
    background-color: rgba(254, 244, 243, 0.1);
    color: rgb(240, 229, 229);
    text-align: center;
    z-index: 2;
  }
  .tableInfo h4 {
    text-align: center;
    font-size: 1.2rem;
  }

  .tableDiv {
    width: 84%;
    margin: 2% 08% 0 08%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 320px;
    overflow-y: scroll;
    font-size: 0.9rem;
  }
  .table-data {
    text-align: center;
  }
  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 880px;
  }
  .tbl-content {
    height: 300px;
    width: 880px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .flagImg {
    margin-top: 12%;
    height: 30%;
    width: 30%;
  }

  .country {
    width: 100px;
  }
  /* .spacing {
    width: 80px;
  } */
  .cases {
    width: auto;
  }
  .recover {
    width: 100px;
  }
  .critical {
    width: 90px;
  }

  th {
    padding: 20px 15px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    margin-right: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .end {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1281px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .header {
    width: 100%;
    height: 60px;
    display: inline-flex;
    position: relative;
    background-color: rgba(254, 244, 243, 0.2);
    /* color: rgb(240, 229, 229); */
    color: white;

    z-index: 2;
  }

  .title {
    width: 34%;
    height: 100%;
    margin-top: 1%;
    margin-left: 6%;
    cursor: default;
  }

  .navigation {
    width: 60%;
    margin-left: 4%;
    height: 70px;
  }
  .menu {
    margin-top: 2%;
    list-style-type: none;
  }

  .navigation-li {
    float: left;
    padding: 0px 40px 0px 0px;
  }

  .nav-a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    line-height: 16px;
    outline: 0;
  }

  .nav-a:hover {
    text-decoration: none;
    color: white;
  }

  .insta:hover {
    color: #b7358a;
  }

  .linkedin:hover {
    color: #0077b5;
  }

  .git:hover {
    color: #000;
  }

  .brTag {
    display: none;
  }

  .row {
    width: 80%;
    margin: 4% 10% 0 10%;
    text-transform: capitalize;
    font-size: 1.6rem;
  }

  .boxes {
    text-align: center;
    height: 130px;
    padding-top: 1.5%;
  }

  .totalDiv {
    background-color: rgba(254, 244, 243, 0.8);
  }

  .boxes span {
    margin-top: 7%;
  }

  .totalDiv span {
    margin-top: 2%;
  }

  .otherChilds div {
    width: 100%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 150px;
  }

  .otherChilds {
    margin: 25px 0px 0px 0px;
  }

  .tableInfo {
    margin-top: 5%;
    padding-top: 1%;
    width: 80%;
    margin-left: 10%;
    height: 60px;
    /* position: relative; */
    background-color: rgba(254, 244, 243, 0.1);
    color: rgb(240, 229, 229);
    text-align: center;
    z-index: 2;
  }
  .tableInfo h4 {
    text-align: center;
  }
  .tableDiv {
    width: 80%;
    margin: 1% 10% 0 10%;
    background-color: rgba(254, 244, 243, 0.8);
    height: 320px;
    overflow-y: scroll;
  }

  .country {
    width: 350px;
  }

  .recover {
    color: green;
  }
  .deaths {
    color: red;
  }
  #header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  .table-data {
    text-align: center;
  }
  table {
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  }
  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 880px;
  }
  .tbl-content {
    height: 300px;
    width: 880px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .flagImg {
    margin-top: 12%;
    height: 30%;
    width: 30%;
  }

  .country {
    width: 120px;
  }
  /* .spacing {
    width: 80px;
  } */
  .cases {
    width: auto;
  }
  .recover {
    width: 120px;
  }
  .critical {
    width: 110px;
  }

  th {
    padding: 20px 15px;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    margin-right: 15px;
    text-align: left;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }
  .end {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 80%;
    height: auto;
    background-color: rgba(254, 244, 243, 0.2);
    /* color: rgb(240, 229, 229); */
    color: white;

    z-index: 2;
    text-align: center;
  }
  .end .support {
    padding-bottom: 1%;
  }
  .end a {
    padding: 15px;
  }
}
